<!-- ////////////// FOOTER ////////////// -->
footer.pt-4.my-md-5.border-top
	.container
		.row
			.col-md-5
				h5 FULLSTACK VIETNAM
				p Cool stuff
				p Random feature
				p Team feature
			.col-md-7
				h5 Links
				ul.list-unstyled.text-small
					li.link-item
						a.text-muted(href="#") Cool stuff
					li.link-item
						a.text-muted(href="#") Random feature
					li.link-item
						a.text-muted(href="#") Team feature
					li.link-item
						a.text-muted(href="#") Stuff for developers
					li.link-item
						a.text-muted(href="#") Another one
					li.link-item
						a.text-muted(href="#") Last ti.link-itemme
					li.link-item
						a.text-muted(href="#") Resource
					li.link-item
						a.text-muted(href="#") Resource name
					li.link-item
						a.text-muted(href="#") Another resource
					li.link-item
						a.text-muted(href="#") Final resource
